*{
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    transition: .3s linear;
}

body{
    background-color: midnightblue;
}

.container{
    background-color: white;
    padding: 5% 7%;
    width: 300px;
    margin: 5% auto;
}

h1, h2, h3, h4, h5, h6, p {
    padding: .5rem;
}